src/Node-Red/Node-Red_All-flows.json
[
    {
        "id": "9c6d2010f5e017d2",
        "type": "tab",
        "label": "ZeroTier Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cf04fa37396b690",
        "type": "tab",
        "label": "Basic Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ee132296b3cf932",
        "type": "subflow",
        "name": "Blink",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "27d1a70e265edd37"
                    },
                    {
                        "id": "7387fa65ef719020"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 610,
                "y": 120,
                "wires": [
                    {
                        "id": "27d1a70e265edd37",
                        "port": 0
                    },
                    {
                        "id": "abc82f601a87c3a5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Blinks",
                "type": "num",
                "value": "3"
            },
            {
                "name": "Repetitions",
                "type": "num",
                "value": "5"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 350,
            "y": 440,
            "wires": [
                {
                    "id": "52aa8fb2c27f0cb2",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "6560a4b3f1d82281",
        "type": "ui_tab",
        "name": "ASCENT FunRock Rotating Climbing Wall",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9949e1a2a16f97b8",
        "type": "ui_group",
        "name": "Incline Motor",
        "tab": "6560a4b3f1d82281",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b28c5e629b581e7",
        "type": "ui_group",
        "name": "Speed Motor",
        "tab": "6560a4b3f1d82281",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1b6ac94d056ee9a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "459871bb70d51f7f",
        "type": "ui_tab",
        "name": "ZeroTier Server",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f25fa17c4169f7b9",
        "type": "ui_group",
        "name": "VPN",
        "tab": "459871bb70d51f7f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "27d1a70e265edd37",
        "type": "change",
        "z": "6ee132296b3cf932",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "2da19d8b19ddc1d9"
            ]
        ]
    },
    {
        "id": "2da19d8b19ddc1d9",
        "type": "delay",
        "z": "6ee132296b3cf932",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "abc82f601a87c3a5"
            ]
        ]
    },
    {
        "id": "abc82f601a87c3a5",
        "type": "change",
        "z": "6ee132296b3cf932",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "3b2a54bf89d4537a"
            ]
        ]
    },
    {
        "id": "3b2a54bf89d4537a",
        "type": "delay",
        "z": "6ee132296b3cf932",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "e38fe537fec59355"
            ]
        ]
    },
    {
        "id": "e38fe537fec59355",
        "type": "function",
        "z": "6ee132296b3cf932",
        "name": "count blinks",
        "func": "var Blinks = flow.get(\"toggleNext\") + 1||1;\n\nif (Blinks >= env.get(\"Blinks\")){\n    flow.set(\"toggleNext\",0);\n    msg.payload = env.get(\"Blinks\");\n    }\nelse{\n    flow.set(\"toggleNext\", Blinks);\n    msg.payload = Blinks\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 300,
        "wires": [
            [
                "b2859d9c1e1d6efa"
            ]
        ]
    },
    {
        "id": "9941f854be9de49c",
        "type": "change",
        "z": "6ee132296b3cf932",
        "name": "reset blink counter",
        "rules": [
            {
                "t": "set",
                "p": "toggleNext",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "52aa8fb2c27f0cb2"
            ]
        ]
    },
    {
        "id": "b2859d9c1e1d6efa",
        "type": "switch",
        "z": "6ee132296b3cf932",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Blinks",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "27d1a70e265edd37"
            ],
            [
                "9941f854be9de49c"
            ]
        ]
    },
    {
        "id": "52aa8fb2c27f0cb2",
        "type": "function",
        "z": "6ee132296b3cf932",
        "name": "count repetitions",
        "func": "var Repetitions = flow.get(\"toggleNextRepetition\") + 1||1;\n\nif (Repetitions >= env.get(\"Repetitions\")){\n    flow.set(\"toggleNextRepetition\",0);\n    msg.payload = env.get(\"Repetitions\");\n    }\nelse{\n    flow.set(\"toggleNextRepetition\", Repetitions);\n    msg.payload = Repetitions\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 380,
        "wires": [
            [
                "d73ae1999ffea6a7"
            ]
        ]
    },
    {
        "id": "d73ae1999ffea6a7",
        "type": "switch",
        "z": "6ee132296b3cf932",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Repetitions",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "c56a78d3e1f1c76a"
            ],
            []
        ]
    },
    {
        "id": "c56a78d3e1f1c76a",
        "type": "delay",
        "z": "6ee132296b3cf932",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "27d1a70e265edd37"
            ]
        ]
    },
    {
        "id": "7387fa65ef719020",
        "type": "change",
        "z": "6ee132296b3cf932",
        "name": "reset repetition counter",
        "rules": [
            {
                "t": "set",
                "p": "toggleNextRepetition",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b3f2b9fa53b44a74",
        "type": "comment",
        "z": "6ee132296b3cf932",
        "name": "link to instructions and latest version of this flow",
        "info": "https://flows.nodered.org/flow/1acb0468ca10e85e99cfb8683d9fc260",
        "x": 270,
        "y": 50,
        "wires": []
    },
    {
        "id": "ad2fb21880b94184",
        "type": "exec",
        "z": "9c6d2010f5e017d2",
        "command": "sudo service zerotier-one start",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ZeroTier Start",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "7f09628535606a7c"
            ],
            [
                "26cbf164ea0e6f5d"
            ],
            [
                "5a22ad24b060fa86",
                "d356dcfcb15a60fd"
            ]
        ]
    },
    {
        "id": "7f09628535606a7c",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "stdout",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "26cbf164ea0e6f5d",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "stderror",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "5a22ad24b060fa86",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "return code",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "16b2d0814cc58885",
        "type": "exec",
        "z": "9c6d2010f5e017d2",
        "command": "sudo service zerotier-one stop",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ZeroTier Stop",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "e51832c636291649"
            ],
            [
                "3fac3c07a8576181"
            ],
            [
                "2f340b0364d298c9",
                "d356dcfcb15a60fd"
            ]
        ]
    },
    {
        "id": "e51832c636291649",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "stdout",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "3fac3c07a8576181",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "stderror",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "2f340b0364d298c9",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "return code",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "95b3705f9834e283",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "9363df66e073c132"
            ]
        ]
    },
    {
        "id": "aaebfa42ad3ae6bb",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "Stop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "385f46ec01e73589"
            ]
        ]
    },
    {
        "id": "d356dcfcb15a60fd",
        "type": "exec",
        "z": "9c6d2010f5e017d2",
        "command": "sudo systemctl is-active zerotier-one.service",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ZeroTier Status",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "81ea82d786efae22",
                "723fde2d463649ac"
            ],
            [
                "60c586eede7dc568"
            ],
            [
                "f69441159cec3f5b"
            ]
        ]
    },
    {
        "id": "81ea82d786efae22",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "stdout",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "60c586eede7dc568",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "stderror",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "f69441159cec3f5b",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "return code",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "b9eb377841c3ce49",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "Refresh Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "eca593aed2085614"
            ]
        ]
    },
    {
        "id": "b32bbe78a6881657",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "VPN Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 240,
        "wires": []
    },
    {
        "id": "86ce8abdeb82914c",
        "type": "ui_template",
        "z": "9c6d2010f5e017d2",
        "group": "f25fa17c4169f7b9",
        "name": "CSS Buttons",
        "order": 1,
        "width": "",
        "height": "",
        "format": "<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 90,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "9363df66e073c132",
        "type": "ui_template",
        "z": "9c6d2010f5e017d2",
        "group": "f25fa17c4169f7b9",
        "name": "VPN ON",
        "order": 2,
        "width": "2",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: '1'})\"> \n    VPN ON\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "ad2fb21880b94184",
                "90834dec73e98afe"
            ]
        ]
    },
    {
        "id": "385f46ec01e73589",
        "type": "ui_template",
        "z": "9c6d2010f5e017d2",
        "group": "f25fa17c4169f7b9",
        "name": "VPN OFF",
        "order": 3,
        "width": "2",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#27ae60\" ng-click=\"send({payload: '1'})\"> \n    VPN OFF\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "16b2d0814cc58885",
                "90834dec73e98afe"
            ]
        ]
    },
    {
        "id": "eca593aed2085614",
        "type": "ui_template",
        "z": "9c6d2010f5e017d2",
        "group": "f25fa17c4169f7b9",
        "name": "Refresh",
        "order": 4,
        "width": "2",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#E2D96E\" ng-click=\"send({payload: '1'})\"> \n    REFRESH\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "d356dcfcb15a60fd"
            ]
        ]
    },
    {
        "id": "10c4829a453f3950",
        "type": "switch",
        "z": "9c6d2010f5e017d2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "VPN ON",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "VPN OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "e8e1dd05e2c9c605",
                "51f9de58c0e4b4c7"
            ],
            [
                "e8e1dd05e2c9c605",
                "4395172b8e1d1ff3"
            ]
        ]
    },
    {
        "id": "a385b23007530db3",
        "type": "ui_text",
        "z": "9c6d2010f5e017d2",
        "group": "f25fa17c4169f7b9",
        "order": 5,
        "width": "6",
        "height": "2",
        "name": "VPN Status",
        "label": "VPN Status",
        "format": "<font face='arial'><font size=6><font color={{fcolor}}>{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1370,
        "y": 300,
        "wires": []
    },
    {
        "id": "e8e1dd05e2c9c605",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "VPN Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 180,
        "wires": []
    },
    {
        "id": "723fde2d463649ac",
        "type": "change",
        "z": "9c6d2010f5e017d2",
        "name": "VPN Status",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "failed",
                "fromt": "str",
                "to": "VPN OFF",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "active",
                "fromt": "str",
                "to": "VPN ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "b32bbe78a6881657",
                "10c4829a453f3950",
                "29696fd502e79835"
            ]
        ]
    },
    {
        "id": "1b4617b5dbbd59a9",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "failed",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "failed",
        "payloadType": "str",
        "x": 810,
        "y": 160,
        "wires": [
            [
                "723fde2d463649ac"
            ]
        ]
    },
    {
        "id": "b3b4d6ba7652da8e",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "active",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "active",
        "payloadType": "str",
        "x": 810,
        "y": 220,
        "wires": [
            [
                "723fde2d463649ac"
            ]
        ]
    },
    {
        "id": "4395172b8e1d1ff3",
        "type": "change",
        "z": "9c6d2010f5e017d2",
        "name": "Green Text",
        "rules": [
            {
                "t": "set",
                "p": "fcolor",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 320,
        "wires": [
            [
                "a385b23007530db3"
            ]
        ]
    },
    {
        "id": "51f9de58c0e4b4c7",
        "type": "change",
        "z": "9c6d2010f5e017d2",
        "name": "Red Text",
        "rules": [
            {
                "t": "set",
                "p": "fcolor",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 260,
        "wires": [
            [
                "a385b23007530db3"
            ]
        ]
    },
    {
        "id": "6dbe585513a7debd",
        "type": "switch",
        "z": "9c6d2010f5e017d2",
        "name": "Blink Enable",
        "property": "#:(file)::BlinkEnable",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "b01b6e4046065254",
                "eaf1ad65a1359b42"
            ]
        ]
    },
    {
        "id": "7e24893fad48fac8",
        "type": "change",
        "z": "9c6d2010f5e017d2",
        "name": "Set BlinkEnable",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::BlinkEnable",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 540,
        "wires": [
            [
                "d16d3153285e45c4"
            ]
        ]
    },
    {
        "id": "aa7a5848fbe1f657",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "Blinker",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "6dbe585513a7debd"
            ]
        ]
    },
    {
        "id": "b01b6e4046065254",
        "type": "function",
        "z": "9c6d2010f5e017d2",
        "name": "",
        "func": "\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 680,
        "wires": [
            [
                "4131515f190210a8",
                "32e491f13f34ea9f"
            ]
        ]
    },
    {
        "id": "4131515f190210a8",
        "type": "delay",
        "z": "9c6d2010f5e017d2",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 680,
        "wires": [
            [
                "1b8a347ad538e5fc"
            ]
        ]
    },
    {
        "id": "1b8a347ad538e5fc",
        "type": "function",
        "z": "9c6d2010f5e017d2",
        "name": "",
        "func": "\nmsg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 680,
        "wires": [
            [
                "32e491f13f34ea9f",
                "18480e6b5d242198"
            ]
        ]
    },
    {
        "id": "32e491f13f34ea9f",
        "type": "ui_led",
        "z": "9c6d2010f5e017d2",
        "order": 6,
        "group": "f25fa17c4169f7b9",
        "width": "2",
        "height": "2",
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#ffa500",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1010,
        "y": 680,
        "wires": []
    },
    {
        "id": "d37eb279545e622f",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "Blink ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "7e24893fad48fac8"
            ]
        ]
    },
    {
        "id": "d0b77a6d950e0c79",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "Blink OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "7e24893fad48fac8"
            ]
        ]
    },
    {
        "id": "eaf1ad65a1359b42",
        "type": "debug",
        "z": "9c6d2010f5e017d2",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "90834dec73e98afe",
        "type": "change",
        "z": "9c6d2010f5e017d2",
        "name": "Startt Blink",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "7e24893fad48fac8"
            ]
        ]
    },
    {
        "id": "29696fd502e79835",
        "type": "change",
        "z": "9c6d2010f5e017d2",
        "name": "Stop Blink",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 580,
        "wires": [
            [
                "7e24893fad48fac8"
            ]
        ]
    },
    {
        "id": "18480e6b5d242198",
        "type": "trigger",
        "z": "9c6d2010f5e017d2",
        "name": "Show LED status",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1030,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "62e2c7fb661dcc03",
        "type": "ui_text",
        "z": "9c6d2010f5e017d2",
        "group": "f25fa17c4169f7b9",
        "order": 7,
        "width": "3",
        "height": "2",
        "name": "TXT-Wait",
        "label": "",
        "format": "<font face='arial'><font size=6><font color={{fcolor}}>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1220,
        "y": 540,
        "wires": []
    },
    {
        "id": "d16d3153285e45c4",
        "type": "switch",
        "z": "9c6d2010f5e017d2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 540,
        "wires": [
            [
                "567739071f06c104"
            ],
            [
                "a66ace70440feb90"
            ]
        ]
    },
    {
        "id": "567739071f06c104",
        "type": "change",
        "z": "9c6d2010f5e017d2",
        "name": "Red Text",
        "rules": [
            {
                "t": "set",
                "p": "fcolor",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WAIT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "62e2c7fb661dcc03"
            ]
        ]
    },
    {
        "id": "a66ace70440feb90",
        "type": "change",
        "z": "9c6d2010f5e017d2",
        "name": "No Text",
        "rules": [
            {
                "t": "set",
                "p": "fcolor",
                "pt": "msg",
                "to": "white",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "62e2c7fb661dcc03"
            ]
        ]
    },
    {
        "id": "732bf95c2ea29394",
        "type": "comment",
        "z": "9c6d2010f5e017d2",
        "name": "For testing",
        "info": "",
        "x": 60,
        "y": 480,
        "wires": []
    },
    {
        "id": "ef9ad05e3966d299",
        "type": "inject",
        "z": "9c6d2010f5e017d2",
        "name": "Refresh LED on Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 800,
        "y": 740,
        "wires": [
            [
                "32e491f13f34ea9f"
            ]
        ]
    },
    {
        "id": "46cc466c24883d26",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "Incline -",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "-1",
        "payloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "a54358622d6b37d6"
            ]
        ]
    },
    {
        "id": "2ae364bf4e546309",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "Incline +",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "b85792207814cd8d"
            ]
        ]
    },
    {
        "id": "b85792207814cd8d",
        "type": "ui_template",
        "z": "9cf04fa37396b690",
        "group": "9949e1a2a16f97b8",
        "name": "Incline +",
        "order": 3,
        "width": "2",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: '1'})\"> \n    INCLINE +\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "0ca96ad8cd1ea5e9",
                "db247e35687867f3",
                "9595430d570b3a6a"
            ]
        ]
    },
    {
        "id": "2dfc2af7951932c7",
        "type": "ui_template",
        "z": "9cf04fa37396b690",
        "group": "5b28c5e629b581e7",
        "name": "CSS Buttons",
        "order": 1,
        "width": "",
        "height": "",
        "format": "<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "27fca6f405fef4e5",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Incline Motor",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "68be0488fa50e2f4",
        "type": "switch",
        "z": "9cf04fa37396b690",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "55ecdc630bd6b578",
                "c82c052612d8bde6"
            ],
            [
                "6385184f06c1d933",
                "f3523af83e9c8657"
            ]
        ]
    },
    {
        "id": "55ecdc630bd6b578",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Motor is OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 960,
        "wires": [
            [
                "1a4c3232b85feaf9",
                "485d2c0afd0a5eca"
            ]
        ]
    },
    {
        "id": "6385184f06c1d933",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Motor is ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 547.7577972412109,
        "y": 1011.5623788833618,
        "wires": [
            [
                "1a4c3232b85feaf9",
                "6cdc60d63cac664b"
            ]
        ]
    },
    {
        "id": "c82c052612d8bde6",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Motor is OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-circle-thin fa-2x nr-dashboard-dim\"></i>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 548.5232925415039,
        "y": 1079.3120746612549,
        "wires": [
            [
                "74a14a52471cc74c"
            ]
        ]
    },
    {
        "id": "f3523af83e9c8657",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Motor is ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-certificate fa-2x nr-dashboard-warning\"></i>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 546.2810897827148,
        "y": 1130.8744535446167,
        "wires": [
            [
                "74a14a52471cc74c"
            ]
        ]
    },
    {
        "id": "485d2c0afd0a5eca",
        "type": "debug",
        "z": "9cf04fa37396b690",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 960,
        "wires": []
    },
    {
        "id": "6cdc60d63cac664b",
        "type": "debug",
        "z": "9cf04fa37396b690",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 1040,
        "wires": []
    },
    {
        "id": "1a4c3232b85feaf9",
        "type": "ui_text",
        "z": "9cf04fa37396b690",
        "group": "9949e1a2a16f97b8",
        "order": 5,
        "width": "1",
        "height": "1",
        "name": "RelayState-TXT Incline motor",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 880,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a48865c8417b16dd",
        "type": "ui_text",
        "z": "9cf04fa37396b690",
        "group": "9949e1a2a16f97b8",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "Status Incline motor",
        "label": "Status Incline +/-",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "74a14a52471cc74c",
        "type": "ui_text",
        "z": "9cf04fa37396b690",
        "group": "9949e1a2a16f97b8",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "RelayState-Incline motor",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 870,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c1535aa99dc4cc9c",
        "type": "rpi-gpio out",
        "z": "9cf04fa37396b690",
        "name": "PWM Speed motor | GPIO26",
        "pin": "26",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 1040,
        "y": 1440,
        "wires": []
    },
    {
        "id": "1badc5a155714e5e",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "2%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "c1535aa99dc4cc9c"
            ]
        ]
    },
    {
        "id": "aabce78daec7032b",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "10%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 110,
        "y": 1520,
        "wires": [
            [
                "c1535aa99dc4cc9c"
            ]
        ]
    },
    {
        "id": "958eff73d65ed2f8",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "5%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "c1535aa99dc4cc9c"
            ]
        ]
    },
    {
        "id": "ef6c57a9a2b52fe7",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "50%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 110,
        "y": 1560,
        "wires": [
            [
                "c1535aa99dc4cc9c"
            ]
        ]
    },
    {
        "id": "55ec70fcf3b441ad",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "100%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 110,
        "y": 1600,
        "wires": [
            [
                "c1535aa99dc4cc9c"
            ]
        ]
    },
    {
        "id": "49a76900a0338efb",
        "type": "ui_slider",
        "z": "9cf04fa37396b690",
        "name": "Speed",
        "label": "Speed",
        "tooltip": "",
        "group": "5b28c5e629b581e7",
        "order": 2,
        "width": "1",
        "height": "5",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 510,
        "y": 1280,
        "wires": [
            [
                "b8197d283cb354a7"
            ]
        ]
    },
    {
        "id": "2188ab26a26ddc35",
        "type": "rpi-gpio out",
        "z": "9cf04fa37396b690",
        "name": "PWM Incline motor | GPIO27",
        "pin": "27",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 1120,
        "y": 720,
        "wires": []
    },
    {
        "id": "76f8eebb3ce5efe8",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "2%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "ed30441057e2b21c",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "10%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "b9052e3525884e71",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "5%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "61d52b8a8d2f8213",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "50%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "f6e0d85bdb177a4b",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "100%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "f22a9615d7d21a62",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "0ca4cf2ccc29db5d",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "0ca96ad8cd1ea5e9",
        "type": "rpi-gpio out",
        "z": "9cf04fa37396b690",
        "name": "Incline +/- | GPIO22",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "0be408d69f182558",
        "type": "rpi-gpio in",
        "z": "9cf04fa37396b690",
        "name": "Incline ON | GPIO21",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "68be0488fa50e2f4"
            ]
        ]
    },
    {
        "id": "320b594762457fbd",
        "type": "ui_template",
        "z": "9cf04fa37396b690",
        "group": "9949e1a2a16f97b8",
        "name": "STOP",
        "order": 2,
        "width": "2",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#27ae60\" ng-click=\"send({payload: '0'})\"> \n    STOP\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "a54358622d6b37d6",
        "type": "ui_template",
        "z": "9cf04fa37396b690",
        "group": "9949e1a2a16f97b8",
        "name": "Incline -",
        "order": 1,
        "width": "2",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: '-1'})\"> \n    INCLINE-\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "26c18dc36fb8d568",
                "db247e35687867f3"
            ]
        ]
    },
    {
        "id": "c40a77de2b103e84",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "STOP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "320b594762457fbd"
            ]
        ]
    },
    {
        "id": "26c18dc36fb8d568",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "-> 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "0ca96ad8cd1ea5e9",
                "ea3abd3a3edd67ed"
            ]
        ]
    },
    {
        "id": "db247e35687867f3",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "100%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "14d43f5b0928e5db"
            ]
        ]
    },
    {
        "id": "14d43f5b0928e5db",
        "type": "delay",
        "z": "9cf04fa37396b690",
        "name": "Delay Incline motor 500ms",
        "pauseType": "delayv",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 540,
        "wires": [
            [
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "800523c85082744f",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "760e5313ed03d3ee"
            ]
        ]
    },
    {
        "id": "760e5313ed03d3ee",
        "type": "ui_template",
        "z": "9cf04fa37396b690",
        "group": "5b28c5e629b581e7",
        "name": "OFF",
        "order": 3,
        "width": "3",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#27ae60\" ng-click=\"send({payload: '0'})\"> \n    OFF\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 290,
        "y": 1340,
        "wires": [
            [
                "c1535aa99dc4cc9c"
            ]
        ]
    },
    {
        "id": "0931b15cd8fa3e70",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Speed motor",
        "info": "",
        "x": 110,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c31ffb0ce0eb7f12",
        "type": "rpi-gpio in",
        "z": "9cf04fa37396b690",
        "name": "Manual speed | GPIO13",
        "pin": "13",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 160,
        "y": 1720,
        "wires": [
            [
                "83b504048a9fcccc"
            ]
        ]
    },
    {
        "id": "df7ced5ed30bafb1",
        "type": "rpi-gpio in",
        "z": "9cf04fa37396b690",
        "name": "Manual Incline - | GPIO16",
        "pin": "16",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "1cf2f506c320c9ce"
            ]
        ]
    },
    {
        "id": "024644e243ace8f9",
        "type": "rpi-gpio in",
        "z": "9cf04fa37396b690",
        "name": "Manual Incline + | GPIO17",
        "pin": "17",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "5e146cdb868a755b"
            ]
        ]
    },
    {
        "id": "5fc52f9c1bbbdd38",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "25%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "25",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1680,
        "wires": [
            [
                "8c10fed0137f3204"
            ]
        ]
    },
    {
        "id": "83b504048a9fcccc",
        "type": "switch",
        "z": "9cf04fa37396b690",
        "name": "Switch Active LOW",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1720,
        "wires": [
            [
                "5fc52f9c1bbbdd38"
            ],
            [
                "9ac48e7162544ec7"
            ]
        ]
    },
    {
        "id": "9ac48e7162544ec7",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1760,
        "wires": [
            [
                "c1535aa99dc4cc9c",
                "a4cf6e234ff0fd28"
            ]
        ]
    },
    {
        "id": "1cf2f506c320c9ce",
        "type": "switch",
        "z": "9cf04fa37396b690",
        "name": "Switch Active LOW",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "134c1d37d17b75f3"
            ],
            [
                "d46f16acd42194a6"
            ]
        ]
    },
    {
        "id": "134c1d37d17b75f3",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "On Incline -",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "8c1607575ef39a15",
                "26c18dc36fb8d568"
            ]
        ]
    },
    {
        "id": "d46f16acd42194a6",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "b91e8d74686c051f",
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "5e146cdb868a755b",
        "type": "switch",
        "z": "9cf04fa37396b690",
        "name": "Switch Active LOW",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "503bcd2344270444"
            ],
            [
                "cfeecffadce4897f"
            ]
        ]
    },
    {
        "id": "503bcd2344270444",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "On Incine +",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "6d8b54f1b77e071a",
                "0ca96ad8cd1ea5e9",
                "9595430d570b3a6a"
            ]
        ]
    },
    {
        "id": "cfeecffadce4897f",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "29cdd3212ae0b825",
                "2188ab26a26ddc35"
            ]
        ]
    },
    {
        "id": "6d8b54f1b77e071a",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "25%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "14d43f5b0928e5db"
            ]
        ]
    },
    {
        "id": "8c1607575ef39a15",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "25%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "14d43f5b0928e5db"
            ]
        ]
    },
    {
        "id": "29cdd3212ae0b825",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Reset delay",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 600,
        "wires": [
            [
                "14d43f5b0928e5db"
            ]
        ]
    },
    {
        "id": "b91e8d74686c051f",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Reset delay",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "14d43f5b0928e5db"
            ]
        ]
    },
    {
        "id": "1b918b6d949d1683",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "For testing Incline Motor",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "f882b7459ab54f8f",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Reduced speed",
        "info": "",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "f8b3055d3095a3e5",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Reduced speed",
        "info": "",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ac12032891d4a77",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Full speed",
        "info": "",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "5a3575ef2770e560",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Button \"Incline +\" on Control&Sensor board",
        "info": "",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "5006ec75a39dcab3",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Button \"Incline -\" on Control&Sensor board",
        "info": "",
        "x": 240,
        "y": 100,
        "wires": []
    },
    {
        "id": "da688ff9a65906f7",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "For testing Speed Motor",
        "info": "",
        "x": 140,
        "y": 1400,
        "wires": []
    },
    {
        "id": "3d4f1b89087ede49",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Button Speed on Control&Sensor board",
        "info": "",
        "x": 210,
        "y": 1680,
        "wires": []
    },
    {
        "id": "536f83e9ccbb21b6",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Reduced speed",
        "info": "",
        "x": 520,
        "y": 1640,
        "wires": []
    },
    {
        "id": "e1dca55c87418f71",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Delay to set direction relay before turning Incline motor on",
        "info": "",
        "x": 1090,
        "y": 600,
        "wires": []
    },
    {
        "id": "3eaa8a12c94d8e34",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Set direction relay +/- first",
        "info": "",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "a7f9fab9406c3040",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Read status Incline Motor",
        "info": "",
        "x": 130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "8c10fed0137f3204",
        "type": "delay",
        "z": "9cf04fa37396b690",
        "name": "Delay Incline motor 500ms",
        "pauseType": "delayv",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 1680,
        "wires": [
            [
                "c1535aa99dc4cc9c"
            ]
        ]
    },
    {
        "id": "a4cf6e234ff0fd28",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Reset delay",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1760,
        "wires": [
            [
                "8c10fed0137f3204"
            ]
        ]
    },
    {
        "id": "98e78a1fcacec998",
        "type": "comment",
        "z": "9cf04fa37396b690",
        "name": "Oopsie delay",
        "info": "",
        "x": 830,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ea3abd3a3edd67ed",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Icon Incline -",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-undo\" aria-hidden=\"true\"></i>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 860,
        "wires": [
            [
                "a48865c8417b16dd"
            ]
        ]
    },
    {
        "id": "b8197d283cb354a7",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Set Motorspeed",
        "rules": [
            {
                "t": "set",
                "p": "motorspeed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1280,
        "wires": [
            [
                "25af8a14a0a0a6ac"
            ]
        ]
    },
    {
        "id": "a729b583e6bd3132",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "6a160f1a53baccf5"
            ]
        ]
    },
    {
        "id": "54160bfcd1587bf8",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Set Motorspeed to payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "motorspeed",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1220,
        "wires": [
            [
                "c1535aa99dc4cc9c"
            ]
        ]
    },
    {
        "id": "6a160f1a53baccf5",
        "type": "ui_template",
        "z": "9cf04fa37396b690",
        "group": "5b28c5e629b581e7",
        "name": "ON",
        "order": 4,
        "width": "3",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: '1'})\"> \n    ON/SET\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 290,
        "y": 1220,
        "wires": [
            [
                "54160bfcd1587bf8"
            ]
        ]
    },
    {
        "id": "35132cfdcaf63d92",
        "type": "inject",
        "z": "9cf04fa37396b690",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "c00e9e766cabc3c3"
            ]
        ]
    },
    {
        "id": "c00e9e766cabc3c3",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Set Motorspeed to payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "motorspeed",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1280,
        "wires": [
            [
                "49a76900a0338efb"
            ]
        ]
    },
    {
        "id": "25af8a14a0a0a6ac",
        "type": "ui_text",
        "z": "9cf04fa37396b690",
        "group": "5b28c5e629b581e7",
        "order": 5,
        "width": "3",
        "height": "1",
        "name": "SpeedValue",
        "label": "Speed (%)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 910,
        "y": 1280,
        "wires": []
    },
    {
        "id": "9595430d570b3a6a",
        "type": "change",
        "z": "9cf04fa37396b690",
        "name": "Icon Incline +",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-repeat\" aria-hidden=\"true\"></i>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 900,
        "wires": [
            [
                "a48865c8417b16dd"
            ]
        ]
    }
]
